.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  display: inline-block;
  padding: 10px;
  text-align: top;
}

.App-header {
  background-color: #222;
  color: white;
  height: 60px;
}

.App-header h1 {
  margin-top: 12px;
  padding: 0;
  text-align: top;
  vertical-align: top;
  display: inline-block;
}
