.shotokan-page.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.shotokan-page nav {
  background-color: black;
  text-align: center;
}

.shotokan-page .header-logo {
    display: inline-block;
    width: 60px;
    padding: 10px 15px 10px 0;
}

.shotokan-page .header-title {
    color: white;
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}

.shotokan-page h2 {
    margin: 10px;
}

.shotokan-page ul {
    list-style: none;
}

.shotokan-page ul li {
    margin: 0;
    padding: 0;
    text-align: left;
}